.dx-scheduler-header {
    display: none;
}

.dx-scheduler {
    border: 1px solid;
    border-color: rgb(196, 196, 196);
}

th.dx-scheduler-header-panel-cell[title]::after {
    content: "";
    /* Oculta visualmente el contenido */
    display: none;
    /* Oculta del flujo del documento */
}

.dx-scheduler-header-panel-cell.dx-scheduler-header-panel-current-time-cell {
    color: black;
    border: 0px;
}

.dx-scheduler-header-panel-cell.dx-scheduler-header-panel-current-time-cell::before {
    display: none;
}

.dx-scheduler-appointment-recurrence .dx-scheduler-appointment-content {
    padding: 5px 5px 5px 5px;
}